<div data-ng-include="'views/header.html'"></div>
<div ng-controller="CluesController as ctrl">
    <!--<ul class="leaderBoard-clues"  ng-if="ctrl.dataLoaded">
        <li ng-repeat="clue in ctrl.clues" style="font-size: large">
            <h4>{{clue}}.</h4>
        </li>
    </ul>-->
    <div class="loading" style="margin-top: 38vh" ng-show="!ctrl.dataLoaded">
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
    </div>

    <ul class="collection leaderBoard-clues"  ng-if="ctrl.dataLoaded && ctrl.clues">
        <li class="collection-item" ng-repeat="clue in ctrl.clues" style="font-size: large; color: white; background: transparent">{{clue}}.</li>
    </ul>

    <div class="center-align" style="margin-top: 15vh" ng-if="!ctrl.clues && ctrl.dataLoaded">
        <h4>No Clues Given Yet</h4>
    </div>
</div>