<div ng-controller="MainController as ctrl">
    <div class="modal-content">
        <h4>Are You Sure you want to skip this level</h4>
        <p>This Option can be used only once between levels 1-9.<br> It can't be used after 9th level. <br>No negative marks for using this feature </p>
    </div>
    <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="ctrl.skipLevel()">Yes</a>
        <a class=" modal-action modal-close waves-effect waves-green btn-flat">No</a>
    </div>
</div>